body {
        margin: 0px;
        padding: 0px;
        font-size: 5vh;
}

header {
        width: 100vw;
        height: 10vh;
        background-color: teal;
}

article {
        margin-bottom: 10vh;
}

article h1{
        margin-left: 5vw;
}

footer {
        width: 100vw;
        height: 7vh;
        background-color: teal;
        position: fixed;
        bottom: 0vh;
        text-decoration: none;
}

footer div {
        margin-left: 5vw;
}

footer div a {
        text-decoration: none;
        color: #DE434E;
}

footer div a:visited {
        color: black;
}

footer div a:hover {
        color: white;
}