chronos-control-strip {
    display: grid;
    gap: 1px;
    grid-template-columns: 30px;
    grid-template-rows: 30px;
    position: absolute;
    border: 1px solid transparent;
    z-index: 2147483638;
    transition: opacity 1s ease-in-out;
    user-select: none;

    & chronos-button {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        background-color: #555555;
        min-width: 30px;
        height: 30px;
        font-size: 19px;
        padding: 1px;
        transition: all 0.2s ease-in-out;
    }

    & chronos-button:first-of-type {
        grid-column: 1 / span 2;
        opacity: 0.6;
        cursor: grab;
        color: #ffffff;
        border: 1px solid #dddddd;
    }

    & chronos-button:not(:first-of-type) {
        grid-row: 2;
        opacity: 0;
        color: #000000;
        cursor: pointer;

        &:hover {
            background-color: #777777;
        }
    }

    &:hover chronos-button {
        opacity: 1;
        color: #ffffff;
    }
}
