chronos-control-strip {
    position: absolute;
    border: 1px solid transparent;
    display: flex;
    z-index: 2147483638;
    transition: opacity 1s ease-in-out;
    user-select: none;

    & chronos-button {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background-color: #555555;
        width: 25px;
        height: 25px;
        margin: 1px;
        transition: all 0.2s ease-in-out;
    }

    & chronos-button:first-of-type {
        opacity: 0.6;
        cursor: grab;
        color: #ffffff;
        border: 1px solid #dddddd;
    }

    & chronos-button:not(:first-of-type) {
        opacity: 0.1;
        color: #000000;
        cursor: pointer;

        &:hover {
            background-color: #777777;
        }
    }

    &:hover chronos-button {
        opacity: 1;
        color: #ffffff;
    }
}
